.font-size-5xlarge { font-size: 2.25rem; }
.font-size-4xlarge { font-size: 2rem; }
.font-size-3xlarge { font-size: 1.75rem; }
.font-size-2xlarge { font-size: 1.5rem; }
.font-size-xlarge { font-size: 1.25rem; }
.font-size-large { font-size: 1.125rem; }
.font-size-medium { font-size: 1rem; }
.font-size-small { font-size: 0.875rem; }
.font-size-xsmall { font-size: 0.75rem; }

// tracking(letter spacing)
.tracking-tight {
    letter-spacing: -0.05em;
}

.tracking-normal {
    letter-spacing: 0;
}

.tracking-wide {
    letter-spacing: 0.05em;
}

.text-justify  { text-align: justify; }
.text-wrap     { white-space: normal; }
.text-nowrap   { white-space: nowrap; }
.text-truncate { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

// Contextual colors

.text-white { color: $white; }

.text-black-50 { color: rgba($black, .5); }
.text-white-50 { color: rgba($white, .5); }

@each $key, $value in $theme-colors {
    .text-#{$key} {
        color: $value;
    }
}
