// deprecated
.btn {
    &.closed {
        background-color: $slate-400;
        color: $white;
        border-color: $slate-400;
    }
}

//
// Button Sizes
//

.btn-xl {
    @include button-size($btn-padding-y-xl, $btn-padding-x-xl, $btn-font-size-xl, $btn-line-height-xl, $btn-border-radius-xl);
}