//used to hide un-compiled mustache bindings until the Vue instance is ready.
[v-cloak] {
    display: none;
}

//임시 클래스(bs 모달이 아닌 모달에서 배경 스크롤이 안되게 하기 위해 만든 클래스)
body.modal-opened {
    overflow-y: hidden;
}

//placeholder animation
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 960px 104px;
    height: 140px;
    position: relative;
}

// this is needed to fix nanocss(css minification) bug: https://github.com/cssnano/cssnano/issues/712
// if the bug is fixed, this code should be removed.
@each $state, $data in $form-validation-states {
    .form-control {
        .was-validated &:#{$state}, &.is-#{$state} {
            @if $enable-validation-icons {
                background-position: right $input-height-inner-quarter center;
            }
        }
    }
}