.fixed-container-xlarge {
	@include make-container();
	width: 1200px;
}

.fixed-container-large {
	@include make-container();
	width: 992px;
}

.fixed-container-medium {
	@include make-container();
	width: 768px;
}

.fixed-container-small {
	@include make-container();
	width: 576px;
}