// Custom Variables 
$navigation-bottom-line: 1px solid $slate-300;
$navigation-button-size: 0.875rem;

.navbar {
	background: white;
}

.fixed-navigation-width {
	width: 100%;
}

// Bootstrap Class
nav {
	&{
		border-bottom: $navigation-bottom-line;
	}
	.nav-link{
		font-size: $navigation-button-size;
		font-weight: normal;
		-ms-flex-item-align: center;
		align-self: center;
	}
}

.nav-tabs {
	border-bottom: 1px solid $slate-300;

	.nav-item {
		margin-bottom: -1px;
	}

	.nav-link {
		border: none;
		border-bottom: $nav-tabs-border-width solid transparent;

		@include hover-focus {
			border-color: $nav-tabs-link-hover-border-color;
		}
	}

	.nav-link.active,
	.nav-item.show .nav-link {
		border-color: $nav-tabs-link-active-border-color;
		font-weight: bold;
	}
}