a.page-link {
  color: $gray-500;
  font-weight: normal;
}

.page-link:hover, .page-link:focus {
  color: $primary;
  background-color: #FFF1EE;
}

.page-item.active .page-link {
  color: white;
  background-color: $primary;
  border-color: $primary;
  pointer-events: none;
}

.page-item.disabled {
  .page-link {
    color: white;
    background-color: $primary;
    border-color: $primary;
  }
  .page-link.pagination__arrow {
    background: white;
    color: #AAAAAA;
    border-color: #ddd;
    span.arrow.--primary {
      border: solid #AAAAAA;
      border-width: 0 2px 2px 0;
    }
  }
}