// Body
body {
  word-wrap: break-word;
  word-break: break-all;
}

body, html {
  height: 100%
}

// stylelint-disable font-weight-notation
strong {
  font-weight: bold; // Add the correct font weight in Chrome, Edge, and Safari
}
// stylelint-enable font-weight-notation

// from legacy reset. should be re-considered about default button styling
button {
  border:0;background:none;
}

// from legacy reset. should be re-considered about default list styling
ol, ul, dl {
  list-style:none;
  margin: 0;
  padding: 0;
}

// from legacy reset. should be re-considered about default em styling
em {
  font-style:normal
}

// later search input should be refactored to use cancel button
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}

// Opinionated: add "hand" cursor to non-disabled button elements.
@if $enable-pointer-cursor-for-buttons {
  .btn {
    &:not(:disabled) {
      cursor: pointer;
    }
  }
}
