@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .font-size#{$infix}-5xlarge { font-size: 2.375rem !important; }
    .font-size#{$infix}-4xlarge { font-size: 2.125rem !important; }
    .font-size#{$infix}-3xlarge { font-size: 1.875rem !important; }
    .font-size#{$infix}-2xlarge { font-size: 1.625rem !important; }
    .font-size#{$infix}-xlarge { font-size: 1.375rem !important; }
    .font-size#{$infix}-large { font-size: 1.25rem !important; }
    .font-size#{$infix}-medium { font-size: 1.125rem !important; }
    .font-size#{$infix}-small { font-size: 1rem !important; }
    .font-size#{$infix}-xsmall { font-size: 0.875rem !important; }
  }
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .leading#{$infix}-none { line-height: 1 !important; }
    .leading#{$infix}-tight { line-height: 1.3 !important; }
    .leading#{$infix}-normal { line-height: 1.5 !important; }
    .leading#{$infix}-loose { line-height: 1.8 !important; }
  }
}

// tracking(letter spacing)
.tracking-tight {
  letter-spacing: -0.05em !important;
}

.tracking-normal {
  letter-spacing: 0 !important;
}

.tracking-wide {
  letter-spacing: 0.05em !important;
}