//
// Color system
//
$white: #ffffff;
$gray-100: #f7f7f7;
$gray-200: #eeeeee;
$gray-300: #dbdbdb;
$gray-400: #c7c7c7;
$gray-500: #aaaaaa;
$gray-600: #999999;
$gray-700: #777777;
$gray-800: #555555;
$gray-900: #333333;

$primary:   #ed6653;
$davy-gray: $gray-800;
$secondary: $gray-700;
$light:     $gray-100;
$dark:      $gray-900;

$medium:    $gray-300;

$teal: #0b4d58;

$theme-colors: ();
$theme-colors: map-merge((
  "primary": $primary,
  "davy-gray": $davy-gray,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
  "medium": $medium,
  "info": $teal,
  "gray-600": $gray-600
), $theme-colors);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  154;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: 0px;
$btn-padding-x: 16px;
$btn-line-height: 3;

$border-radius: 3px;

//// btn-sm
$line-height-sm: 2.5;
$btn-padding-y-sm: 0px;
$btn-padding-x-sm: 16px;
$font-size-sm: 1rem;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.

$yiq-contrasted-threshold:  154;


// Spacing

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: ($spacer * .75),
  4:  $spacer,
  5: ($spacer * 1.25),
  6: ($spacer * 1.5),
  7: ($spacer * 2),
  8: ($spacer * 2.5),
  9: ($spacer * 3)
), $spacers);


// This variable affects the `.h-*` and `.w-*` classes.

$sizes: () !default;
$sizes: map-merge((
        10: 10%,
        15: 15%,
        25: 25%,
        35: 35%,
        31: 31.6%,
        50: 50%,
        66: 66.7%,
        75: 75%,
        100: 100%,
        auto: auto
), $sizes);

// Links
//
// Style anchor elements.

$link-hover-decoration: none;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 0; // should be fixed later!

// Components
//
// Define common padding and border radius sizes and more.
$line-height-sm: 2.5;
$border-radius: 3px;

$component-active-color:      $white !default;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$font-weight-light: 200;
$font-weight-light-semi: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$h1-font-size:                $font-size-base * 2 !default;
$h2-font-size:                $font-size-base * 1.75 !default;
$h3-font-size:                $font-size-base * 1.5 !default;
$h4-font-size:                $font-size-base * 1.25 !default;
$h5-font-size:                $font-size-base * 1.125 !default;
$h6-font-size:                $font-size-base !default;

$headings-font-weight: $font-weight-bold;
$headings-line-height: 1.5;

$small-font-size: 88%;

$text-muted: $gray-400;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

$btn-padding-y: 0rem;
$btn-padding-x: 1rem;
$btn-line-height: 3;

$btn-padding-y-sm: 0rem;
$btn-padding-x-sm: 1rem;

// Forms
//$input-height: 2.125rem;
//$input-line-height: 2.125rem;

$input-color: $dark;
$input-border-color: $medium;
$input-group-addon-bg: $light;

$custom-control-gutter:                 1.625rem;
$custom-control-indicator-size:         1.125rem;
$custom-control-indicator-bg-size:      70% 70%;
$custom-control-indicator-checked-color:        $component-active-color !default;
$custom-control-indicator-active-color:         $component-active-color !default;
$custom-checkbox-indicator-icon-checked:        str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 12'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}' d='M5.59 8.426L12.47.592l1.451 1.516-7.437 8.721-.873 1.066L.528 5.683l1.559-1.352 3.502 4.095z'/%3E%3C/svg%3E"), "#", "%23") !default;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-spacer: -0.1rem;
$dropdown-border-radius: $border-radius;
$dropdown-link-active-bg: $secondary;

// Navs

$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 0.75rem;

// Navbar

$navbar-padding-y: 0;
$navbar-padding-x: 15px;

$navbar-nav-link-padding-x: 0.75rem;

$navbar-light-color: $gray-900;
$navbar-light-hover-color: $gray-900;


// Cards
$card-spacer-x: 0.75rem;

// Close
$close-font-weight: $font-weight-normal;





