//
// Color system
//
$black: #000000;
$white: #ffffff;

$slate-50: #F8FAFC;
$slate-100: #F1F5F9;
$slate-200: #E2E8F0;
$slate-300: #CBD5E1;
$slate-400: #94A3B8;
$slate-500: #64748B;
$slate-600: #475569;
$slate-700: #334155;
$slate-800: #1E293B;
$slate-900: #0F172A;

$gray-100: #F8FAFC;
//현재 gray100에 slate50값 적용되어있음
$gray-200: #E2E8F0;
$gray-300: #CBD5E1;
$gray-400: #CBD5E1;
//현재 gray400에 slate300값 적용되어있음
$gray-500: #94A3B8;
//현재 gray500에 slate400값 적용되어있음
$gray-600: #94A3B8;
//현재 gray600에 slate400값 적용되어있음
$gray-700: #64748B;
//현재 gray700에 slate500값 적용되어있음
$gray-800: #475569;
//현재 gray800에 slate600값 적용되어있음
$gray-900: #0F172A;

$coral-100: #ffedee;
$coral-400: #F39B8E;
$coral-500: #ef7b6a;
$coral-600: #ed6653;
$coral-700: #E1432E;
$coral-800: #be1e08;

$primary-100: #ffedee;
$primary-200: #F39B8E;
$primary-300: #ef7b6a;
$primary-400: #ed6653;
$primary: $primary-400;

$teal-50: #F0FDFA;
$teal-100: #CCFBF1;
$teal-200: #99F6E4;
$teal-300: #5EEAD4;
$teal-400: #2DD4BF;
$teal-500: #14B8A6;
$teal-600: #0D9488;
$teal-700: #0F766E;
$teal-800: #115E59;
$teal-900: #134E4A;
$teal: $teal-800;

$light:     $gray-100;
$medium:    $gray-300;
$secondary: $gray-700;
$davy-gray: $gray-800;
$dark:      $gray-900;

$red-50: #FEF2F2;
$red-100: #FEE2E2;
$red-200: #FECACA;
$red-300: #FCA5A5;
$red-400: #F87171;
$red-500: #EF4444;
$red-600: #DC2626;
$red-700: #B91C1C;
$red-800: #991B1B;
$red-900: #7F1D1D;

$green-50: #F0FDF4;
$green-100: #DCFCE7;
$green-200: #BBF7D0;
$green-300: #86EFAC;
$green-400: #4ADE80;
$green-500: #22C55E;
$green-600: #16A34A;
$green-700: #15803D;
$green-800: #166534;
$green-900: #14532D;

$yellow-50: #FEFCE8;
$yellow-100: #FEF9C3;
$yellow-200: #FEF08A;
$yellow-300: #FDE047;
$yellow-400: #FACC15;
$yellow-500: #EAB308;
$yellow-600: #CA8A04;
$yellow-700: #A16207;
$yellow-800: #854D0E;
$yellow-900: #713F12;

$blue-50: #EFF6FF;
$blue-100: #DBEAFE;
$blue-200: #BFDBFE;
$blue-300: #93C5FD;
$blue-400: #60A5FA;
$blue-500: #3B82F6;
$blue-600: #2563EB;
$blue-700: #1D4ED8;
$blue-800: #1E40AF;
$blue-900: #1E3A8A;

$indigo-50: #EEF2FF;
$indigo-100: #E0E7FF;
$indigo-200: #C7D2FE;
$indigo-300: #A5B4FC;
$indigo-400: #818CF8;
$indigo-500: #6366F1;
$indigo-600: #4F46E5;
$indigo-700: #4338CA;
$indigo-800: #3730A3;
$indigo-900: #312E81;

$purple-50: #FAF5FF;
$purple-100: #F3E8FF;
$purple-200: #E9D5FF;
$purple-300: #D8B4FE;
$purple-400: #C084FC;
$purple-500: #A855F7;
$purple-600: #9333EA;
$purple-700: #7E22CE;
$purple-800: #6B21A8;
$purple-900: #581C87;

$magenta-50: #FDF4FF;
$magenta-100: #FAE8FF;
$magenta-200: #F5D0FE;
$magenta-300: #F0ABFC;
$magenta-400: #E879F9;
$magenta-500: #D946EF;
$magenta-600: #C026D3;
$magenta-700: #A21CAF;
$magenta-800: #86198F;
$magenta-900: #701A75;

$theme-colors: ();
$theme-colors: map-merge((
        "white": $white,
        "black": $black,
        "slate-50": $slate-50,
        "slate-100": $slate-100,
        "slate-200": $slate-200,
        "slate-300": $slate-300,
        "slate-400": $slate-400,
        "slate-500": $slate-500,
        "slate-600": $slate-600,
        "slate-700": $slate-700,
        "slate-800": $slate-800,
        "slate-900": $slate-900,
        "gray-100": $gray-100,
        "gray-200": $gray-200,
        "gray-300": $gray-300,
        "gray-400": $gray-400,
        "gray-500": $gray-500,
        "gray-600": $gray-600,
        "gray-700": $gray-700,
        "gray-800": $gray-800,
        "gray-900": $gray-900,
        "coral-100": $coral-100,
        "coral-400": $coral-400,
        "coral-500": $coral-500,
        "coral-600": $coral-600,
        "coral-700": $coral-700,
        "coral-800": $coral-800,
        "primary-100": $primary-100,
        "primary-200": $primary-200,
        "primary-300": $primary-300,
        "primary-400": $primary-400,
        "primary": $primary,
        "teal-50": $teal-50,
        "teal-100": $teal-100,
        "teal-200": $teal-200,
        "teal-300": $teal-300,
        "teal-400": $teal-400,
        "teal-500": $teal-500,
        "teal-600": $teal-600,
        "teal-700": $teal-700,
        "teal-800": $teal-800,
        "teal-900": $teal-900,
        "davy-gray": $davy-gray,
        "secondary": $secondary,
        "light": $light,
        "dark": $dark,
        "medium": $medium,
        "info": $teal,
        "red-50": $red-50,
        "red-100": $red-100,
        "red-200": $red-200,
        "red-300": $red-300,
        "red-400": $red-400,
        "red-500": $red-500,
        "red-600": $red-600,
        "red-700": $red-700,
        "red-800": $red-800,
        "red-900": $red-900,
        "green-50": $green-50,
        "green-100": $green-100,
        "green-200": $green-200,
        "green-300": $green-300,
        "green-400": $green-400,
        "green-500": $green-500,
        "green-600": $green-600,
        "green-700": $green-700,
        "green-800": $green-800,
        "green-900": $green-900,
        "yellow-50": $yellow-50,
        "yellow-100": $yellow-100,
        "yellow-200": $yellow-200,
        "yellow-300": $yellow-300,
        "yellow-400": $yellow-400,
        "yellow-500": $yellow-500,
        "yellow-600": $yellow-600,
        "yellow-700": $yellow-700,
        "yellow-800": $yellow-800,
        "yellow-900": $yellow-900,
        "blue-50": $blue-50,
        "blue-100": $blue-100,
        "blue-200": $blue-200,
        "blue-300": $blue-300,
        "blue-400": $blue-400,
        "blue-500": $blue-500,
        "blue-600": $blue-600,
        "blue-700": $blue-700,
        "blue-800": $blue-800,
        "blue-900": $blue-900,
        "indigo-50": $indigo-50,
        "indigo-100": $indigo-100,
        "indigo-200": $indigo-200,
        "indigo-300": $indigo-300,
        "indigo-400": $indigo-400,
        "indigo-500": $indigo-500,
        "indigo-600": $indigo-600,
        "indigo-700": $indigo-700,
        "indigo-800": $indigo-800,
        "indigo-900": $indigo-900,
        "purple-50": $purple-50,
        "purple-100": $purple-100,
        "purple-200": $purple-200,
        "purple-300": $purple-300,
        "purple-400": $purple-400,
        "purple-500": $purple-500,
        "purple-600": $purple-600,
        "purple-700": $purple-700,
        "purple-800": $purple-800,
        "purple-900": $purple-900,
        "magenta-50": $magenta-50,
        "magenta-100": $magenta-100,
        "magenta-200": $magenta-200,
        "magenta-300": $magenta-300,
        "magenta-400": $magenta-400,
        "magenta-500": $magenta-500,
        "magenta-600": $magenta-600,
        "magenta-700": $magenta-700,
        "magenta-800": $magenta-800,
        "magenta-900": $magenta-900,
), $theme-colors);

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  154;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-validation-icons:                     false !default;

// Spacing

$spacer: 1rem;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: ($spacer * .75),
  4:  $spacer,
  5: ($spacer * 1.25),
  6: ($spacer * 1.5),
  7: ($spacer * 2),
  8: ($spacer * 2.5),
  9: ($spacer * 3)
), $spacers);


// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
$sizes: map-merge((
        10: 10%,
        15: 15%,
        25: 25%,
        35: 35%,
        31: 31.6%,
        50: 50%,
        66: 66.7%,
        75: 75%,
        100: 100%,
        auto: auto
), $sizes);

// Links
//
// Style anchor elements.

$link-hover-decoration: none;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 0; // should be fixed later!

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter-width:           32px !default;

// Components
//
// Define common padding and border radius sizes and more.

$line-height-xl: 1.5;

$border-radius: 0.25rem; // default
$border-radius-lg: .3rem; // default
$border-radius-xl: .5rem;

$box-shadow-sm: 0 1px 3px 0 rgba(85, 85, 85, 0.1), 0 1px 2px 0 rgba(85, 85, 85, 0.06);
$box-shadow: 0 4px 6px -1px rgba(85, 85, 85, 0.1), 0 2px 4px -1px rgba(85, 85, 85, 0.06);
$box-shadow-lg: 0 10px 15px -3px rgba(85, 85, 85, 0.1), 0 4px 6px -2px rgba(85, 85, 85, 0.05);
$box-shadow-xl: 0 20px 25px -5px rgba(85, 85, 85, 0.1), 0 10px 10px -5px rgba(85, 85, 85, 0.04);
$box-shadow-2xl: 0 25px 50px -12px rgba(85, 85, 85, 0.25);

$component-active-color: $white;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-size-base: 1rem; // Assumes the browser default, typically `16px`

$font-weight-light: 200;
$font-weight-light-semi: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;

$headings-font-weight: $font-weight-bold;
$headings-line-height: 1.5;

$small-font-size: 88%;

$text-muted: $gray-400;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.
$input-btn-padding-y-sm: .3125rem;
$input-btn-font-size-sm: $font-size-base * .75;

$input-btn-padding-y: .4375rem;
$input-btn-font-size: $font-size-base * .875;

$input-btn-padding-y-lg: .6875rem;
$input-btn-font-size-lg: $font-size-base;

$input-btn-padding-y-xl: .9375rem;
$input-btn-font-size-xl: $font-size-base;
$input-btn-line-height-xl: $line-height-xl;

// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
$btn-padding-x-sm: .6875rem;

$btn-padding-x: .9375rem;

$btn-padding-x-lg: 1.4375rem;

$btn-padding-y-xl: $input-btn-padding-y-xl;
$btn-padding-x-xl: 1.9375rem;
$btn-font-size-xl: $input-btn-font-size-xl;
$btn-line-height-xl: $input-btn-line-height-xl;


// Allows for customizing button radius independently from global border radius
$btn-border-radius-xl: $border-radius-lg;


// Forms

$input-padding-x-sm: .3125rem;
$input-padding-x: .4375rem;
$input-padding-x-lg: .6875rem;

$input-color: $gray-900;
$input-border-color: $gray-300;
$input-placeholder-color: $gray-500;
$input-group-addon-bg: $light;

$custom-control-indicator-size: 1.125rem;
$custom-control-indicator-bg-size: 70% 70%;
$custom-control-indicator-checked-color: $component-active-color;
$custom-control-indicator-active-color: $component-active-color;

$custom-checkbox-indicator-icon-checked: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 12'%3E%3Cpath fill='#{$custom-control-indicator-checked-color}' d='M5.59 8.426L12.47.592l1.451 1.516-7.437 8.721-.873 1.066L.528 5.683l1.559-1.352 3.502 4.095z'/%3E%3C/svg%3E"), "#", "%23");

$custom-select-border-radius-lg: $border-radius-lg;

// Form validation
$form-feedback-invalid-color:       $coral-800 !default;

// Dropdowns
//
// Dropdown menu container and contents.

$dropdown-spacer: -0.1rem;
$dropdown-border-radius: $border-radius;
$dropdown-link-active-bg: $gray-200;
$dropdown-link-active-color: none;
$dropdown-link-hover-bg: $gray-100;


// Navs

$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 0.75rem;


// Navbar

$navbar-padding-y: 0;
$navbar-padding-x: 15px;

$navbar-nav-link-padding-x: 0.75rem;

$navbar-light-color: $gray-900;
$navbar-light-hover-color: $gray-900;

$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-border-color: $coral-600;
$nav-tabs-link-active-color: $gray-900;
$nav-tabs-border-width: 3px;

// Cards
$card-spacer-x: 0.75rem;


// Close
$close-font-weight: $font-weight-normal;

// Utilities

$overflows: auto, hidden, visible, scroll;

// Badge
$badge-font-size: $font-size-base * .875 !default;
$badge-font-weight: $font-weight-bold !default;
$badge-padding-y: .1875rem !default;
$badge-padding-x: .6875rem !default;
$badge-border-radius: .9375rem !default;

$badge-pill-padding-x: .6em !default;
// Use a higher than normal value to ensure completely rounded edges when
// customizing padding or font-size on labels.
$badge-pill-border-radius: 10rem !default;

$badge-solid-colors: (
    "gray": $gray-600,
    "red": $red-600,
    "coral": $coral-600,
    "yellow": $yellow-600,
    "green": $green-600,
    "teal": $teal-600,
    "blue": $blue-600,
    "indigo": $indigo-600,
    "purple": $purple-600,
    "magenta": $magenta-600,
);

$badge-ghost-colors: (
    "gray": $gray-700,
    "red": $red-700,
    "coral": $coral-700,
    "yellow": $yellow-700,
    "green": $green-700,
    "teal": $teal-700,
    "blue": $blue-700,
    "indigo": $indigo-700,
    "purple": $purple-700,
    "magenta": $magenta-700,
);

// Tag
$tag-font-weight: $font-weight-bold !default;
$tag-border-radius: .25rem !default;
$tag-small-padding-y: .1875rem !default;
$tag-small-padding-x: .313rem !default;
$tag-small-font-size: $font-size-base * .75 !default;
$tag-medium-padding-y: .1875rem !default;
$tag-medium-padding-x: .4375rem !default;
$tag-medium-font-size: $font-size-base * .875 !default;

$tag-bg-colors: (
    "gray": $gray-100,
    "red": $red-100,
    "coral": $coral-100,
    "yellow": $yellow-100,
    "green": $green-100,
    "teal": $teal-100,
    "blue": $blue-100,
    "indigo": $indigo-100,
    "purple": $purple-100,
    "magenta": $magenta-100,
);

$tag-text-colors: (
    "gray": $gray-600,
    "red": $red-600,
    "coral": $coral-600,
    "yellow": $yellow-600,
    "green": $green-600,
    "teal": $teal-600,
    "blue": $blue-600,
    "indigo": $indigo-600,
    "purple": $purple-600,
    "magenta": $magenta-600,
);

$tag-size-paddings: (
    "small": $tag-small-padding-y $tag-small-padding-x,
    "medium": $tag-medium-padding-y $tag-medium-padding-x,
);

$tag-size-font-size: (
    "small": $tag-small-font-size,
    "medium": $tag-medium-font-size,
);
