// Fonts
@import url(/static/fonts/SpoqaHanSans-kr.css);
* { font-family: 'Spoqa Han Sans', sans-serif; }

// to be moved
body {
	word-wrap: break-word;
	word-break: keep-all;
}
// to be moved other place
// modal mobile
$max-modal-dialog-size: 420px;
$horizontal-margin: 15px + 15px;
.modal {
    .modal-dialog {
        @media (max-width: $max-modal-dialog-size + $horizontal-margin) {
            margin-top: 15px;
            margin-left: 15px;
            margin-right: 15px;
        }
        margin-left: auto;
        margin-right: auto;
    }
}

// to be moved other place
// for reset
.ul {
	padding-left: 0.5rem;
}


.body-text {
	& {font-size: 1.0625rem;}
	iframe{width:100% !important}
	p,
	div{font-size:17px;font-weight:400;line-height:1.8;}
	p strong,
	div strong{display:inline}
	img{display:block;width:100%;margin:20px 0}
	big{display:block;margin:45px 0;padding:0 10px;text-align:center}
	big:before,
	big:after{display:block;width:32px;height:1px;margin:0 auto;background-color:#000;content:''}
	big:before{margin-bottom:20px}
	big:after{margin-top:22px}
	big *{line-height:35px;font-size:24px}
	big tt{display:block;font-size:15px;font-weight:normal;color:#aa9478}
	blockquote{display:block;margin:45px 0;padding-left:20px;border-left:3px solid #c3b4a0;line-height:28px;font-size:20px;color:#999}
	blockquote tt{display:block;font-size:15px;font-weight:normal;color:#aa9478}
	blockquote *{color:#999}
	q{display:block;padding:30px 29px;margin:35px 0 25px;border:1px solid #ddd;color:#666}
	q:before,
	q:after{display:none}
	ul{margin:40px 0 40px 20px;list-style:disc}
	ul li{padding:0px 0;font-weight:400;}
	ul li q{padding:0;margin:0;border:0;color:#333}
	.img-explain{display:block;margin:5px 0 45px;color:#999;font-size:0.875em}
	.img-explain:before{display:inline-block;width:3px;height:11px;margin-right:5px;background-color:#cdcdcd;content:''}
	big{display:block;margin-bottom:40px;line-height:1.417em;font-size:1.5em}
	hr{display:block;width:30px;height:2px;margin:50px 0 15px;background-color:#000;text-align:left}
	t{display:block;padding:30px 30px;margin:35px 0 25px;color:#333;background:#f7f7f7}
	p span[style*="background-color"] {padding: 3px 0;}
}

.web-viewer .article-body{font-size:17px}
.web-viewer .article-body {
	.part{padding-top:10px}
	.part:first-child{padding-top:0}
	h3 {
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.5;
		margin: 1rem 0 0.5rem 0;
	}
	p,
	div{font-weight:400;line-height:1.8;}
	p strong,
	div strong{display:inline;font-weight:700}
	img{display:block;width:100%;margin:40px 0 20px}
	big{display:block;margin:45px 0;padding:0 10px;text-align:center}
	big:before,
	big:after{display:block;width:32px;height:1px;margin:0 auto;background-color:#000;content:''}
	big:before{margin-bottom:20px}
	big:after{margin-top:22px}
	big *{line-height:35px;font-size:24px}
	big tt{display:block;font-size:15px;font-weight:normal;color:#aa9478}
	blockquote{display:block;margin:2rem 0;padding-left:20px;border-left:3px solid #c3b4a0;font-size:18px;color:#7b7773;}
	blockquote tt{display:block;font-size:15px;font-weight:normal;color:#aa9478}
	blockquote {
		* {
			color:#7b7773;
		}
		a {
			color: #ed6653;
		}
	}
	q{display:block;padding:30px 29px;margin:35px 0 25px;border:1px solid #ddd;color:#666}
	q:before,
	q:after{display:none}
	ul{margin:2rem 0 2rem 20px;list-style:disc}
	ul li{padding:0px 0; font-weight: 400; margin-bottom: 0.5rem;}
	ul li q{padding:0;margin:0;border:0;color:#333}
	.img-explain{display:block;margin:5px 0 40px;color:#999;font-size:14px;line-height:21px}
	.img-explain:before{display:inline-block;width:3px;height:11px;margin-right:5px;background-color:#cdcdcd;content:''}
	.img-explain img{margin:70px 0 0}
	t{display:block;padding:30px 30px;margin:35px 0 25px;color:#333;background:#f7f7f7}
}

// for tablet
@media only screen and (min-width : 960px){
	.web-viewer .article-body{padding:0;font-size:18px;}
	.web-viewer .article-body big *{line-height:36px;font-size:26px}
	.web-viewer .article-body blockquote{margin:70px 0;line-height:32px;font-size:20px;color:#7b7773}
	.web-viewer .article-body img{margin:40px 0 14px}
}
